.direnv
auto
result
.cache/texmf-var/luatex-cache/generic
main.aux
main.log
main.out
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.run.xml
main.toc
indent.log
main.synctex.gz
_minted-main
lualatex302926.fls
main.lol
main.pdf
